#backgroundpic {
    /* max-height: 100vw;
    width: 100%; */
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.background-wrapper {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#Skillset {
    height: 1000px;
    width: 100%;
    position: absolute;
    color: black
}

#getStarted {
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: white solid 1px;
    margin-top: 300px;
}

#getStarted:hover {
    background-color: black;
    border: black solid 2px;
}

#nameTitlePage {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    width: 400px;
}

#introText {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1500px;
    font-size: 24px;
    margin-top: 100px;
}

.sectionHeader {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
}

.sectionHeaderSubtext {
    text-align: center;
    color: gray;
    font-size: 15px;
    margin-bottom: 50px;
}

#skillInfoboxes {
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    height: 250px;
}