#backgroundpic {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.background-wrapper {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

#Skillset {
    height: 1000px;
    width: 100%;
    position: absolute;
    color: black
}

#getStarted {
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: white solid 1px;
    margin-top: 300px;
}

#getStarted:hover {
    background-color: black;
    border: black solid 2px;
}

#nameTitlePage {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    width: 400px;
}

#introText {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1500px;
    font-size: 24px;
    margin-top: 100px;
}

.sectionHeader {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
    color: black;
}

.sectionHeaderSubtext {
    text-align: center;
    color: gray;
    font-size: 15px;
    margin-bottom: 50px;
}

#skillInfoboxes {
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    height: 250px;
}

.recentWorks {
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    height: 800px;
}

.upperHalf {
    position: absolute;
    margin: 10px;
    margin-bottom: 30px;
    width: 1130px;
    height: 385px;
}

.bottomHalf {
    position: absolute;
    margin: 10px;
    margin-top: 405px;
    margin-bottom: 30px;
    width: 1130px;
    height: 385px;
}

/* RECENT WORKS PICTURES */

.picDivsFormat {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4%;
    
    
}

/* The id of the actual first image */
#pic1Img, #pic2Img, #pic3Img, #pic4Img {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    opacity: 1;
}

#pic1Img:hover, #pic2Img:hover, #pic3Img:hover, #pic4Img:hover {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    opacity: 0.3;
}

.pic1 {
    position: absolute;
    height: 100%;
    width: 58%;
}

.pic2 {
    position: absolute;
    left: 60%;
    height: 100%;
    width: 40%;
}

.pic3 {
    position: absolute;
    height: 100%;
    width: 40%;
}

.pic4 {
    position: absolute;
    left: 42%;
    height: 100%;
    width: 58%;
}

.recentwork-img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* HOVER ANIMATION */
.slow {
    display: inline-block;
    vertical-align: bottom;
    max-width: 0rem;
    overflow: hidden;
    animation: slow 1s ease forwards;
}
  
@keyframes slow {
    from {
      max-width: 0rem;
      opacity: 0;
    }
    to {
      max-width: 10rem;
      opacity: 1;
    }
}

#recentProjectText1, #recentProjectText2, #recentProjectText3, #recentProjectText4 {
    position: absolute;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    border: 1px brown solid;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 1s;
    background-color: none;
}

.gone {
    display: none;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    animation: slowGone 1s ease forwards;
}

@keyframes slowGone {
    from {
      max-width: 10rem;
      opacity: 1;
    }
    to {
      max-width: 0rem;
      opacity: 0;
    }
}

/* Text box hover for projects on homepage */
#recentProjectText1:hover, #recentProjectText2:hover, #recentProjectText3:hover, #recentProjectText4:hover {
    transition: background-color 1s;
    background-color: white;
}