#centerBody {
    text-align: center;
    color: black;
}

.bolded {
    color: black;
    font-weight:bolder;
    margin-top: 12px;
}

.buttonStyle {
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: goldenrod;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    border: 0px;
    cursor: pointer;
    margin-bottom: 30px;
}

.infoText {
    color: black;
    font-size: 15px;
}

.golden {
    color: goldenrod;
}

.exciting {
    color: red;
    margin-bottom: 0;
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
  }
@keyframes depth {
    0% { text-shadow: 0 0 black; }
    25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    50% { text-shadow: 0 0 black; }
    75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
    100% { text-shadow: 0 0 black; }
}

#recentUpdateBox {
    border: 1px red solid;
    border-radius: 30px;
    margin-top: 5px;
}